<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易须知_韩汀社区</title>
<link href="/css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="/js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a>
				<span class="ht_line"></span><a href="#">商家入驻</a>
				<span class="ht_line"></span><a href="#">帮助中心</a>
				<span class="ht_line"></span><a href="#">关于韩汀</a>
				<span class="ht_line"></span><a href="#">联系我们</a>
			</div>
			<div class="top_right login_right">
				<a href="javascript:void(0);" onclick="geren()">[[${session.user.username}]]</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="#" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="#"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="#"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="#"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="#"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="#"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="bg_c3 pt1">
	<div class="b_box">
    	<!--left bar-->
        <div class="article_left">
        	<div class="sv_path"><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>温馨提示</div>
            <div class="sv_con">
        		<h1 class="sv_h1">温馨提示</h1>
                <dl class="sv_dl_list">
					<dt class="cur"><span class="dt_i"></span>韩汀贴士</dt>
                    <dd style="display:block;"><div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">中韩旅游忠告</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">1、目前韩国针对两年内多次持旅游签证前往韩国、拥有OECD（经合组织）国家良好出入境记录或者“211工程”重点大学毕业生等相关人群提供了旅游多次往返签证，非常方便去首尔购物的血拼客，对于是否具备申请多次往返签证资格，需要向当地管辖领事馆咨询详细情况。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">2、韩国人有进屋脱鞋的习惯，他们认为整天在外行走鞋非常脏。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">3、在韩国餐馆，结账的时候多是客人自己到柜台结账，而不是像中国餐馆一样坐在那里叫服务员来。有些餐厅菜单上的价格是不包含10%的附加税的，但大多数饭店和小吃店都是含有10%附加税的。不用给小费。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">4、&nbsp;韩国餐馆里的菜单基本上是单一品种，想要一次性吃点不同的菜品，像是辣炒年糕、石锅拌饭、紫菜包饭、大酱汤、泡菜汤之类的，可以去김밥천국（紫饭天国）。它是全韩国承包连锁店，里面卖的是韩式小吃。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">5、&nbsp;韩国人对浪费食物极其反感，多数韩国人用餐一定会吃得盘干碗净。中国旅行者在用餐时要特别注意。大多数韩食按每人份计算，普通食量的人点一份就够吃，食量大的朋友可以点两人份或酌情加单，避免点太多吃不完。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">6、&nbsp;韩国餐馆里几乎都有“免费”小菜。说是免费，其实都包含在菜品的价格里，所以桌子上的那些小菜吃完还可以再要。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">7、&nbsp;韩国时间比中国北京时间早一个小时。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">8、&nbsp;旅途中要将自己的重要物品随身携带、或者寄存于住处的前台或者保险箱内。随时确认自己的背包以及钱包内的所有物品。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">9、&nbsp;所有的门票、参观券、车票一定要在指定的购票处购买（尤其是KTX&nbsp;高铁车票），不要在外面乱付钱买票。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">10、乘坐出租车的时候，尤其是夜间，尽可能确认车牌号码，或者司机以及车辆的信息再乘坐（在出租车副驾驶位置的前方立着一个牌子，上&nbsp;面会有司机信息）。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">11、&nbsp;在公共场合购物或者吃饭不要大声喧嚷，哪怕是在繁华的街头巷尾，&nbsp;这一行为很不受人欢迎。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<div>
		</div>
	</div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;"><span style="font-size: 16px; font-size:16px;">出游必备物品</span><span style="font-family:Microsoft YaHei;"></span></span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">1、证件类：护照（护照复印件）、机票、身份证等各种证件。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">2、药品类：普通感冒药、肠胃药、晕车药、创可贴。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">3、日用类：牙膏、牙刷、拖鞋。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">4、数码类：韩国电压一般为110V，一般酒店都可采用220V和110V的电源，头扁脚插座。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">5、服装类：当季服装。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<div>
		</div>
	</div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">风俗禁忌</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">1、泡菜是韩国文化的象征，味道辛辣发酸、强烈且独特。韩国人喜欢泡菜，每餐饭都离不开它。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">2、在韩国，倒酒时一手拿酒瓶，另一手要托住手臂；对主人的敬菜，头一二次要推让，第三次才接受。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">3、拒绝别人的敬酒是不礼貌的，如不能喝，就在自己的杯中剩一点酒。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">4、韩国人一般不把盘中的菜吃得很干净，否则是对主人的不敬；有长辈在场，不能抽烟，不能戴墨镜。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">5、接受物品时要用双手，并且不要当面打开礼物。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">6、去韩国人家里做客时，必须要脱鞋。不脱鞋是非常无礼的表现。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">7、韩国人喜欢单数，不喜欢双数。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<div>
		</div>
	</div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">小费</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩国无须支付小费，韩国人也一般不会接受小费。但是，偶尔会有高级餐厅和宾馆在基本费用中附加10%服务费的情况。此时在帐单里已经包含服务费，不需另给小费。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<div>
		</div>
	</div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">医疗信息</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩国大城市的医疗水平还是很高的，但是自己去医院，语言不通还是会成为就医的最大困难，如果遇到紧急情况可以拨打1339，外国人应急医疗热线求助。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<div>
		</div>
	</div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">邮局信息</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">随着电子邮件的频繁使用，现在在路上已经很难看到鲜红色的邮筒了。若您需要邮寄包里或明信片，建议您交给酒店柜台的服务人员，或直接至邮局投递。无论是国内或国际信件、包里，邮资都是以克来计算；而&nbsp;明信片不分距离、国家，航空一率为370韩元，船运一率为250韩元。邮票您可在文具店或邮局直接购买。贴上邮票的明信片直接投递至街上的邮筒或交至邮局窗口即可。</span> 
		</p>
	</div>
</div>
<div>
	<div>
		<h3>
			<ul>
				<li style="text-align:justify;">
					<span style="font-size:16px;font-family:;">重要电话</span> 
				</li>
			</ul>
		</h3>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩国报警电话112，火灾救助119。</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">使用路边的公用电话时，先按红色紧急通话键，然后拨112，通话是免费的。(不懂韩国语的游客，也同样可以拨打112使用中语等举报。警察将会在接到举报3-10分钟内赶到现场)因案件或者事故需要和警方合作调查的时候，不要慌张，可马上打电话联系中国驻韩国大使馆、申请大使馆的帮助。</span> 
		</p>
		<p>
			<br>
		</p>
		<ul>
			<li style="text-align:justify;">
				<span style="font-size:16px;font-family:;"><strong>重要网址</strong></span>
			</li>
		</ul>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩国旅游发展局：http://chinese.visitkorea.or.kr/chs/index.kto</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩国观光公社：http://www.visitkorea.or.kr/cht/FO/FO_CH_6_2_1.jsp</span> 
		</p>
		<p style="text-align:justify;">
			<span style="font-size:16px;font-family:;">韩巢-在线韩国地图：http://map.cn.konest.com/</span> 
		</p>
	</div>
</div></dd>
						                </dl>
            </div>
        </div>
        <!--left bar end-->
        <!--right bar-->
        <div class="article_right">
        	<h2 class="help_title">帮助中心</h2>
            <ul class="help_ul">
				<li><a href="/c/zyy/helpjiaoyixuzhi">交易须知</a></li>
				<li class="cur"><a href="/c/zyy/helpfuwujianding">服务鉴定</a></li>
				<li><a href="/c/zyy/helpguanyuzhuce">关于注册</a></li>
				<li><a href="/c/zyy/helpguanyujinbi">关于金币</a></li>
				<li><a href="/c/zyy/helpguanyujifen">关于积分</a></li>
				<li><a href="/c/zyy/helpguanyuruzhu">关于入驻</a></li>
				<li><a href="/c/zyy/helpguanyuwuliu">关于物流</a></li>
				<li><a href="/c/zyy/helpguanyutixian">关于提现</a></li>
				<li><a href="/c/zyy/helpguanyuluntan">关于论坛</a></li>
				<li><a href="/c/zyy/helpguanyutuikuan">关于退款</a></li>
				<li><a href="/c/zyy/helpfuwuliucheng">服务流程</a></li>
				<li><a href="/c/zyy/helpqianzhengzhiyin">签证指引</a></li>
				<li><a href="/c/zyy/helpwenxintishi">温馨提示</a></li>           
            </ul>
        </div>
        <!--right bar end-->
        <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>
				|<a href="#">帮助中心</a>|
				<a href="#">人才招聘</a>|
				<a href="#">联系我们</a>|
				<a href="#">网站地图</a>|
				<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="http://yphting.zglxkj.com/index.php/Home/About/help/cid/12.html#" class="rn_top">Back top</a></li>
</ul>
</body></html>