<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易须知_韩汀社区</title>
<link href="/css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="/js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a>
				<span class="ht_line"></span><a href="#">商家入驻</a>
				<span class="ht_line"></span><a href="#">帮助中心</a>
				<span class="ht_line"></span><a href="#">关于韩汀</a>
				<span class="ht_line"></span><a href="#">联系我们</a>
			</div>
			<div class="top_right login_right">
				<a href="javascript:void(0);" onclick="geren()">[[${session.user.username}]]</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="#" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="#"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="#"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="#"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="#"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="#"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="bg_c3 pt1">
	<div class="b_box">
    	<!--left bar-->
        <div class="article_left">
        	<div class="sv_path"><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>关于物流</div>
            <div class="sv_con">
        		<h1 class="sv_h1">关于物流</h1>
                <dl class="sv_dl_list">
					<dt class="cur"><span class="dt_i"></span>物流派送指引</dt>
                    <dd style="display:block;"><p>
	<span style="font-size:18px;"><strong>国际物流邮寄过程指引：</strong></span> 
</p>
<p>
	<span style="font-size:18px;"><b><br>
</b></span><span style="font-size:16px;">【用户界面】①</span><span style="font-size:16px;">登入韩汀官网：<a href="http://www.yphting.com/" target="_blank">www.yphting.com</a> ；注册账户登入。</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615125712-53821.jpg" alt="" width="780" height="522" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【商家界面】</span>②</span><span style="font-size:16px;">点击“我要发出的物流”-“我要发物流”即可。（PS：这是商家用户版面）</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615125859-82452.jpg" alt="" width="780" height="519" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>②</span><span style="font-size:16px;">点击“我要发出的物流”-“我要发物流”即可。</span><span style="font-size:16px;">不懂得用户可以点击右侧“预定流程指引”查看更多操作详情！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615010003-61210.jpg" alt="" width="780" height="506" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>③</span><span style="font-size:16px;">点击“我要发物流”后进入填写表单页面；根据自己的需求填写！切记不能派送机场不能发送的违禁物品！违禁物品分类详情参考网站物品发送准则！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615010217-50925.jpg" alt="" width="780" height="503" title="" align=""><img src="./关于物流_韩汀社区_files/20170615010232-24653.jpg" alt="" width="780" height="324" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>④</span><span style="font-size:16px;">上传自己的需求，上传的图片尺寸尽量按照750*500尺寸上传；否则图片会有所变形；最多上传5张图片，超过5张图片则为不显示！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615010449-90508.png" alt="" width="780" height="340" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑤</span><span style="font-size:16px;">填写的表单提交完毕后，进入管理员审核期（审核很快，无需等待很久时间）；管理员为您排查违禁物品；审核结束后您可以发送货品到我们仓库或者我们为您安排送货上门服务！（PS：送货上门服务需满足≥30公斤）</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615010452-96670.png" alt="" width="780" height="602" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【管理员界面】</span>⑥</span>管理员进入审核；审核通过后马上通过韩汀网站内信通知或者短信提醒（国内+国外短信通知）可以马上知道审核结果！安心、便利为您货品护航！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615010954-70726.png" alt="" width="780" height="421" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【管理员界面】</span>⑦</span>违禁物品-管理员审核通过-优先按照您附近的物流公司为您送货！按照就近原则，为您省下分分秒秒！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615024218-26174.png" alt="" width="780" height="530" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑧</span>审核通过后邮，邮寄物品未超过30公斤，则需要亲自发快递单号到我们仓库中，超过30公斤物品重量，按照附近的快递公司上门为您服务。</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011043-41025.png" alt="" width="780" height="612" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑨</span>用户填写发送的快递单号</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011104-24598.png" alt="" width="780" height="604" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【管理员界面】</span>⑩</span>系统下载快递单号-发送至服务商家手上-马上为您的货品护航！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615024855-15683.png" alt="" width="780" height="467" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑪</span>系统生成物品单号，马上为您寻找服务商家派送。</span><span style="font-size:16px;"></span>
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011135-69806.jpg" alt="" width="780" height="925" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【管理员界面】</span>⑫</span>物品送达，管理员填写国际单号！站内信提醒您的货品已到达！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011218-31747.png" alt="" width="780" height="524" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><span style="font-size:16px;">【管理员界面】</span>⑬</span>管理员填写物流单号信息，则物品准确送达。</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011243-56762.png" alt="" width="780" height="490" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><br>
</span> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑭物品是否按时签收，用户请点击完成或者系统在特定时间内自动签收；如物品有丢失，请及时联系网站管理员！我们将竭诚为您服务！</span><span style="font-size:16px;"></span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011312-51108.png" alt="" width="780" height="600" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;">【用户界面】</span>⑮物品派送成功；如物品有所延迟到期可能跟天气、海关、政策有所影响！还需亲谅解哦！</span> 
</p>
<p>
	<img src="./关于物流_韩汀社区_files/20170615011324-47775.png" alt="" width="780" height="595" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<br>
</p></dd>
						                </dl>
            </div>
        </div>
        <!--left bar end-->
        <!--right bar-->
        <div class="article_right">
        	<h2 class="help_title">帮助中心</h2>
            <ul class="help_ul">
				<li><a href="/c/zyy/helpjiaoyixuzhi">交易须知</a></li>
				<li class="cur"><a href="/c/zyy/helpfuwujianding">服务鉴定</a></li>
				<li><a href="/c/zyy/helpguanyuzhuce">关于注册</a></li>
				<li><a href="/c/zyy/helpguanyujinbi">关于金币</a></li>
				<li><a href="/c/zyy/helpguanyujifen">关于积分</a></li>
				<li><a href="/c/zyy/helpguanyuruzhu">关于入驻</a></li>
				<li><a href="/c/zyy/helpguanyuwuliu">关于物流</a></li>
				<li><a href="/c/zyy/helpguanyutixian">关于提现</a></li>
				<li><a href="/c/zyy/helpguanyuluntan">关于论坛</a></li>
				<li><a href="/c/zyy/helpguanyutuikuan">关于退款</a></li>
				<li><a href="/c/zyy/helpfuwuliucheng">服务流程</a></li>
				<li><a href="/c/zyy/helpqianzhengzhiyin">签证指引</a></li>
				<li><a href="/c/zyy/helpwenxintishi">温馨提示</a></li>           
            </ul>
        </div>
        <!--right bar end-->
        <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>
				|<a href="#">帮助中心</a>|
				<a href="#">人才招聘</a>|
				<a href="#">联系我们</a>|
				<a href="#">网站地图</a>|
				<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="http://yphting.zglxkj.com/index.php/Home/About/help/cid/12.html#" class="rn_top">Back top</a></li>
</ul>
</body></html>