<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易须知_韩汀社区</title>
<link href="/css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="/js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a>
				<span class="ht_line"></span><a href="#">商家入驻</a>
				<span class="ht_line"></span><a href="#">帮助中心</a>
				<span class="ht_line"></span><a href="#">关于韩汀</a>
				<span class="ht_line"></span><a href="#">联系我们</a>
			</div>
			<div class="top_right login_right">
				<a href="javascript:void(0);" onclick="geren()">[[${session.user.username}]]</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="#" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="#"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="#"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="#"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="#"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="#"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="bg_c3 pt1">
	<div class="b_box">
    	<!--left bar-->
        <div class="article_left">
        	<div class="sv_path"><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>关于论坛</div>
            <div class="sv_con">
        		<h1 class="sv_h1">关于论坛</h1>
                <dl class="sv_dl_list">
					<dt class="cur"><span class="dt_i"></span>论坛须知</dt>
                    <dd style="display:block;"><span style="font-family: font-size:16px;"><strong>处罚定义</strong></span><br>
<br>
<span style="font-family: font-size:16px;"><strong>封禁ID</strong>分为：<strong>禁止ID发言</strong> 和 <strong>禁止ID访问</strong>，禁止期限可以从最短的1天到最长的“永久”。禁止期间此ID的所有发贴将被自动屏蔽，他人无法阅读。</span><br>
<span style="font-family:font-size:16px;"><strong>禁止ID发言</strong>：禁止期限内该ID仍然可以登陆浏览，但登陆后无发贴权限。</span><br>
<span style="font-family: font-size:16px;"><strong>禁止ID访问</strong>：禁止期限内系统将拒绝该ID的登陆访问。</span><br>
<br>
<span style="font-family: font-size:16px;"><strong>永久封禁ID</strong>时：将删除该ID，并删除该ID的所有发贴</span><br>
<br>
<span style="font-family: font-size:16px;">封锁IP地址分为：封锁单IP地址 和 封锁IP地址段，封锁期限可以从最短的1天到最长的“永久”。封锁期间任何来自该IP（段）的网络访问都将被拒绝。通过ADSL拨号访问的用户IP会在某个范围内变更，单IP封锁对此情况无太大作用，但一旦该IP所在的IP段被封锁，那么来自这个区域的任何拨号用户都将无法访问。</span><br>
<br>
<span style="font-family:font-size:16px;">关键词屏蔽：特定的词语一旦被设为系统屏蔽字，那么在乐在韩国社区中任何可以输入文本的地方（发贴、短信息、签名档等）一旦包含该关键词，都将被警告无法成功提交。</span><br>
<br>
<span style="font-family: font-size:16px;">以下行为将被封禁ID一定期限：</span><br>
<br>
<span style="font-family:font-size:16px;">※　对其他网友进行侮辱、漫骂、任何形式的歧视、人身攻击等语言暴力或者粗口</span><br>
<span style="font-family:font-size:16px;">※　未经社区许可发布广告性质帖文、设置广告性质签名档(个人主页、博客、空间的地址链接除外)</span><br>
<span style="font-family: font-size:16px;">※　多次上传与主题无关的附件</span><br>
<span style="font-family:font-size:16px;">※　违反相应版块具体规定</span><br>
<span style="font-family:font-size:16px;">※　发表大量（多于5篇）与版块定位不符的帖文，如：把留学申请话题发布在在韩生活版</span><br>
<span style="font-family:font-size:16px;">※　在灌水专版 [休闲水吧] 之外版块大量(大于5篇)灌水，灌水定义：无实质内容，有效字符&lt;5，如，“好”、“不错”、“顶”、“沙发”……</span><br>
<span style="font-family:font-size:16px;">※　大量回复旧贴</span><br>
<span style="font-family: font-size:16px;">※　发布带有地域歧视的贴文，鼓动民族仇恨、民族歧视、国家仇恨</span><br>
<br>
<span style="font-family:font-size:16px;">以下行为将被删除ID： </span><br>
<br>
<span style="font-family:font-size:16px;">※　在多个版面重复发布同一篇贴文，尤其是广告与提问话题</span><br>
<span style="font-family:font-size:16px;">※　未经社区许可批量发布广告性质帖文</span><br>
<span style="font-family:font-size:16px;">※　对其他网友进行侮辱漫骂且情节严重</span><br>
<span style="font-family:font-size:16px;">※　宣扬色情、淫秽、暴力、教唆犯罪且情节严重</span><br>
<span style="font-family: font-size:16px;">※　鼓吹地域歧视、鼓动民族仇恨、民族歧视，国家仇恨且情节恶劣</span><br>
<br>
<span style="font-family:font-size:16px;">以下行为将被封锁IP地址</span><br>
<br>
<span style="font-family:font-size:16px;">※　蓄意破坏社区公共秩序</span><br>
<span style="font-family:font-size:16px;">※　蓄意通过重复注册多次发布广告</span><br>
<br>
<span style="font-family:font-size:16px;">以下行为将被屏蔽相关关键字</span><br>
<br>
<span style="font-family: font-size:16px;">※　蓄意批量在多个版面发布广告</span><br></dd>
						                </dl>
            </div>
        </div>
        <!--left bar end-->
        <!--right bar-->
        <div class="article_right">
        	<h2 class="help_title">帮助中心</h2>
            <ul class="help_ul">
				<li><a href="/c/zyy/helpjiaoyixuzhi">交易须知</a></li>
				<li class="cur"><a href="/c/zyy/helpfuwujianding">服务鉴定</a></li>
				<li><a href="/c/zyy/helpguanyuzhuce">关于注册</a></li>
				<li><a href="/c/zyy/helpguanyujinbi">关于金币</a></li>
				<li><a href="/c/zyy/helpguanyujifen">关于积分</a></li>
				<li><a href="/c/zyy/helpguanyuruzhu">关于入驻</a></li>
				<li><a href="/c/zyy/helpguanyuwuliu">关于物流</a></li>
				<li><a href="/c/zyy/helpguanyutixian">关于提现</a></li>
				<li><a href="/c/zyy/helpguanyuluntan">关于论坛</a></li>
				<li><a href="/c/zyy/helpguanyutuikuan">关于退款</a></li>
				<li><a href="/c/zyy/helpfuwuliucheng">服务流程</a></li>
				<li><a href="/c/zyy/helpqianzhengzhiyin">签证指引</a></li>
				<li><a href="/c/zyy/helpwenxintishi">温馨提示</a></li>           
            </ul>
        </div>
        <!--right bar end-->
        <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>
				|<a href="#">帮助中心</a>|
				<a href="#">人才招聘</a>|
				<a href="#">联系我们</a>|
				<a href="#">网站地图</a>|
				<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="http://yphting.zglxkj.com/index.php/Home/About/help/cid/12.html#" class="rn_top">Back top</a></li>
</ul>
</body></html>