<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易须知_韩汀社区</title>
<link href="/css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="/js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a>
				<span class="ht_line"></span><a href="#">商家入驻</a>
				<span class="ht_line"></span><a href="#">帮助中心</a>
				<span class="ht_line"></span><a href="#">关于韩汀</a>
				<span class="ht_line"></span><a href="#">联系我们</a>
			</div>
			<div class="top_right login_right">
				<a href="javascript:void(0);" onclick="geren()">[[${session.user.username}]]</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="#" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="#"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="#"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="#"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="#"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="#"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="bg_c3 pt1">
	<div class="b_box">
    	<!--left bar-->
        <div class="article_left">
        	<div class="sv_path"><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>服务流程</div>
            <div class="sv_con">
        		<h1 class="sv_h1">服务流程</h1>
                <dl class="sv_dl_list">
					<dt class="cur"><span class="dt_i"></span>服务流程指引</dt>
                    <dd style="display:block;"><p style="text-align:center;">
	<span style="font-size:24px;"><strong><strong><br>
<br>
自驾游服务流程<br>
</strong><br>
</strong></span> 
</p>
<div style="text-align:left;">
	<strong><strong><span style="font-size:16px;"></span><span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong></strong>①用户选择心仪的服务商家-点击申请预定</span></strong></strong> 
</div>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong><img src="./服务流程_韩汀社区_files/20170616022355-49922.jpg" alt="" width="780" height="469" title="" align=""><br>
<strong><strong><span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong></strong>②若有特殊要求需要备注，可进行填写，填写备注完毕后提交预定。</span></strong></strong><br>
<img src="./服务流程_韩汀社区_files/20170616022358-52714.jpg" alt="" width="780" height="471" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong></strong>③提交预定-支付金币</span><br>
<img src="./服务流程_韩汀社区_files/20170616022400-61319.jpg" alt="" width="780" height="471" title="" align=""><br>
<img src="./服务流程_韩汀社区_files/20170616022402-97862.jpg" alt="" width="780" height="495" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong></strong>④支付金币后可站内信联系商家；进行详细交流和安排！</span><span style="font-size:16px;"></span><br>
<img src="./服务流程_韩汀社区_files/20170616022405-22450.jpg" alt="" width="780" height="457" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong></strong>⑤</span><span style="font-size:16px;">用户提交预定单号，系统及时为您站内信传达至商家手中。</span><br>
<img src="./服务流程_韩汀社区_files/20170616022407-76560.jpg" alt="" width="780" height="450" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【商家界面】</span></strong></span></strong></strong></strong></strong>⑥商家可选择性接单或不接单，若商家行程排满不接单可站内信告知！预定金额原价返还至用户手中。</span><span style="font-size:16px;"></span><br>
<img src="./服务流程_韩汀社区_files/20170616022409-95039.jpg" alt="" width="780" height="464" title="" align=""><img src="./服务流程_韩汀社区_files/20170616022411-43822.jpg" alt="" width="780" height="469" title="" align=""><br>
<span style="font-size:16px;"><strong><span style="font-size:16px;">【商家界面】</span></strong>⑦</span><span style="font-size:16px;"></span><span style="font-size:16px;">商家接单-完成服务流程-点击“提供服务”-服务金币返还至商家账户中。</span><br>
<img src="./服务流程_韩汀社区_files/20170616022413-51098.jpg" alt="" width="780" height="471" title="" align=""><img src="./服务流程_韩汀社区_files/20170616022415-23461.jpg" alt="" width="780" height="459" title="" align=""><br>
<span style="font-size:16px;"><strong><span style="font-size:16px;">【商家界面】</span></strong>⑧商家服务提供完毕等待用户确认服务；若用户未执行操作，系统将在7个工作日内将服务金币返还至商家账户中。</span><span style="font-size:16px;"></span><br>
<img src="./服务流程_韩汀社区_files/20170616022417-82583.jpg" alt="" width="780" height="467" title="" align=""><br>
<span style="font-size:16px;"></span><strong><span style="font-size:16px;"><strong><span style="font-size:16px;">【商家界面】</span></strong>⑨商家已提供服务可随时</span><span style="font-size:16px;">站内信联系用户。</span></strong><span style="font-size:16px;"></span><br>
<img src="./服务流程_韩汀社区_files/20170616022419-33405.jpg" alt="" width="780" height="491" title="" align=""><img src="./服务流程_韩汀社区_files/20170616022421-89992.jpg" alt="" width="780" height="529" title="" align=""><br>
<strong><strong><span style="font-size:16px;"><strong><span style="font-size:16px;">【用户界面】</span></strong>⑩商家通过站内信提醒，系统马上为您传达至用户站内信中。</span></strong></strong><br>
<img src="./服务流程_韩汀社区_files/20170616022422-44672.jpg" alt="" width="780" height="405" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑪</span><span style="font-size:16px;">下图为商家和用户聊天中；通过韩汀站内信进行沟通，商家、用户有保障！<span style="font-size:16px;">（ps：使用第三方软件咨询出现任何售后问题韩汀网不负有任何责任，由买家承担！）</span></span><br>
<img src="./服务流程_韩汀社区_files/20170616022424-26029.jpg" alt="" width="780" height="491" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑫</span><span style="font-size:16px;">商家接单和提供服务都会站内信告知您，让您分分钟了解商家动态，无需长时间等待！</span><br>
<img src="./服务流程_韩汀社区_files/20170616022427-23413.jpg" alt="" width="780" height="504" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑬</span><span style="font-size:16px;">商家提供服务等待买家确认订单；用户提交“确认完成”则服务流程结束。</span><br>
<img src="./服务流程_韩汀社区_files/20170616022430-86892.jpg" alt="" width="780" height="517" title="" align=""><img src="./服务流程_韩汀社区_files/20170616022431-80455.jpg" alt="" width="780" height="533" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑭</span><span style="font-size:16px;">如对此服务还有什么问题，可站内信与商家联系。</span><br>
<img src="./服务流程_韩汀社区_files/20170616022447-89769.jpg" alt="" width="780" height="547" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑮</span><span style="font-size:16px;">用户确认无任何异议后提交“确认服务”</span><br>
<img src="./服务流程_韩汀社区_files/20170616022449-11415.jpg" alt="" width="780" height="512" title="" align=""><br>
<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑯</span><span style="font-size:16px;">用户确认服务后若对商家有什么意见或建议可以如实进行评价；用户评价过后系统将无法进行撤回、修改，希望用户慎重填写。</span><br>
<img src="./服务流程_韩汀社区_files/20170616022451-70236.jpg" alt="" width="780" height="503" title="" align=""><img src="./服务流程_韩汀社区_files/20170616022453-78421.jpg" alt="" width="780" height="475" title="" align=""><br>
</strong></span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><strong></strong></span> 
</p>
<hr>
<strong><br>
</strong> 
<p>
	<br>
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><strong></strong></span> 
</p>
<p style="text-align:center;">
	<strong><span style="font-size:24px;"><strong><br>
<br>
<span style="font-size:24px;">微整形服务流程<br>
</span></strong></span></strong> 
</p>
<div style="text-align:left;">
	<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;"></span></strong></span></strong></strong></strong> 
</div>
<strong><br>
<div style="text-align:left;">
	<strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】①预约心仪的服务商-点击申请预定</span></strong></span></strong> 
</div>
</strong> 
<p>
	<br>
</p>
<p>
	<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;"><img src="./服务流程_韩汀社区_files/20170620035413-14585.jpg" alt="" width="780" height="624" title="" align=""><br>
<strong><span style="font-size:24px;"><strong></strong></span></strong></span></strong></span></strong></strong></strong> 
</p>
<div style="text-align:left;">
	<strong><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】②预定服务-如需备注留言可以进行填写-支付金币-商家接单</span></strong></span></strong></strong></strong></strong> 
</div>
<br>
<img src="./服务流程_韩汀社区_files/20170620035415-23844.jpg" alt="" width="780" height="492" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035420-46328.jpg" alt="" width="780" height="280" title="" align=""><strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;"><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong>③支付金币后可以站内信商家进行详细的咨询，等待商家接单。<br>
</span></strong></span></strong></strong></strong> 
<p>
	<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;"><img src="./服务流程_韩汀社区_files/20170620035417-74252.jpg" alt="" width="780" height="439" title="" align=""><br>
<br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong>④用户付款后系统站内信提醒用户和商家<br>
<img src="./服务流程_韩汀社区_files/20170620035422-11063.jpg" alt="" width="780" height="362" title="" align=""><br>
<br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【商家界面】</span></strong></span></strong></strong></strong>⑤用户付款后系统站内信提醒商家接单，商家根据自己的行程安排确定接单与否，结果站内信告知对方！<br>
<img src="./服务流程_韩汀社区_files/20170620035423-20055.jpg" alt="" width="780" height="515" title="" align=""><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【商家界面】</span></strong></span></strong></strong></strong>⑥商家确定日程-确认接单<br>
<img src="./服务流程_韩汀社区_files/20170620035425-43267.jpg" alt="" width="780" height="527" title="" align=""><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【商家界面】</span></strong></span></strong></strong></strong>⑦商家可查看订单详情，确认是否接单！<br>
<img src="./服务流程_韩汀社区_files/20170620035428-80615.jpg" alt="" width="780" height="548" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035430-64951.jpg" alt="" width="780" height="511" title="" align=""><br>
<br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【商家界面】⑧商家完成服务-点击“提供服务”</span></strong></span></strong></strong></strong>等待用户确认订单和评价，服务完成。<br>
<img src="./服务流程_韩汀社区_files/20170620035432-90819.jpg" alt="" width="780" height="539" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035434-17819.jpg" alt="" width="780" height="595" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035436-30681.jpg" alt="" width="780" height="612" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035438-94824.jpg" alt="" width="780" height="531" title="" align=""><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;"><br>
【用户界面】</span></strong></span></strong></strong></strong>⑨商家提供服务后系统提醒用户确认订单-如有疑问可站内信咨询商家！<br>
<img src="./服务流程_韩汀社区_files/20170620035440-78521.jpg" alt="" width="780" height="342" title="" align=""><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong>⑩用户无任何异议后点击“确认完成”按钮，服务结束！用户未执行操作，此订单在5天7小时候自动确认订单，服务款自动打入商家账户中。<br>
<img src="./服务流程_韩汀社区_files/20170620035442-15103.jpg" alt="" width="780" height="503" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035443-25087.jpg" alt="" width="780" height="566" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035445-15744.jpg" alt="" width="780" height="565" title="" align=""><br>
<strong><strong><strong><span style="font-size:24px;"><strong><span style="font-size:16px;">【用户界面】</span></strong></span></strong></strong></strong>⑪服务结束后根据商家的服务情况进行最真实的评价。<br>
<img src="./服务流程_韩汀社区_files/20170620035447-99239.jpg" alt="" width="780" height="618" title="" align=""><img src="./服务流程_韩汀社区_files/20170620035449-23389.jpg" alt="" width="780" height="302" title="" align=""></span></strong></span></strong></strong></strong> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<div>
	<strong><strong><br>
</strong></strong> 
</div>
<p style="text-align:left;">
	<strong><span style="font-size:24px;"><strong><br>
</strong></span></strong> 
</p>
<strong> 
<hr>
<br>
</strong> 
<p>
	<br>
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><strong><br>
</strong></span> 
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><strong>韩语翻译服务流程</strong></span> 
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><strong><br>
<br>
</strong></span> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>①</span><span style="font-size:16px;">选择心仪的服务商-确认word文档的翻译字数-填写自己需要翻译的份数-</span><span style="font-size:16px;">点击申请预定。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114552-61309.jpg" alt="" width="780" height="502" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>②</span><span style="font-size:16px;">填写翻译文档的种类-上传自己的翻译文档-(ps：如有特别吩咐的事项可以填写)-完毕后提交预定。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114554-45656.jpg" alt="" width="780" height="502" title="" align=""> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>③</span><span style="font-size:16px;">提交预定后可站内信与商家详谈翻译内容细节。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114556-90839.jpg" alt="" width="780" height="596" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>④咨询服务商家-确定服务商家-支付金币</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114559-44766.jpg" alt="" width="780" height="472" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑤点击支付金币</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114603-49859.jpg" alt="" width="780" height="503" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑥</span><span style="font-size:16px;"></span><span style="font-size:16px;">确认支付金币，商家马上为您开始工作。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114605-65525.jpg" alt="" width="780" height="497" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑦支付完成后可以联系服务商家。通过站内信咨询安全有保障！（ps：使用第三方软件咨询出现任何售后问题韩汀网不负有任何责任，由买家承担！）</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114608-95387.jpg" alt="" width="780" height="558" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑧上传翻译文档后，也可以再次站内信提醒商家发货。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114601-89961.jpg" alt="" width="780" height="506" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【用户界面】</span></strong></strong></strong>⑦</span><span style="font-size:16px;">任务比较急时也可以通过站内信确认商家完成状态。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114610-58455.jpg" alt="" width="780" height="563" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;">【商家界面】</span></strong></strong></strong>⑨</span><span style="font-size:16px;">站内信可以在首页右上方短信图标点击进入，可见系统站内信和商家站内信。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114612-53404.jpg" alt="" width="780" height="552" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;"><strong>【商家界面】</strong></span></strong></strong></strong>⑩商家收到用户的站内信给予及时的回复。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114616-87786.jpg" alt="" width="780" height="560" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><span style="font-size:16px;"><strong><strong><strong><span style="font-size:16px;"><strong>【商家界面】</strong></span></strong></strong></strong>⑪</span><span style="font-size:16px;"></span>商家完成服务后上传翻译文档</span><span style="font-size:16px;">；按照文档翻译的字数填写，上传格式支持doc/pdf格式。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114614-38209.jpg" alt="" width="780" height="571" title="" align=""> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114618-56807.jpg" alt="" width="780" height="569" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【商家界面】</strong>⑫商家已上传翻译文档-系统站内信提醒用户</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114620-38252.jpg" alt="" width="780" height="566" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【商家界面】</strong>⑬商家也可通过站内信给予回复</span><span style="font-size:16px;"></span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114622-74490.jpg" alt="" width="780" height="568" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【用户界面】</strong>⑭</span><span style="font-size:16px;">系统站内信会随时跟踪商家的服务状态第一时间通知用户</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114624-51718.jpg" alt="" width="780" height="547" title="" align=""> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114626-37139.jpg" alt="" width="780" height="555" title="" align=""><img src="./服务流程_韩汀社区_files/20170616114628-52876.jpg" alt="" width="780" height="511" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【用户界面】</strong><span style="font-size:16px;"></span>⑮用户签收翻译文稿，确认翻译无误后点击“确认完成”按钮，服务结束。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114631-36667.jpg" alt="" width="780" height="532" title="" align=""><img src="./服务流程_韩汀社区_files/20170616114650-51862.jpg" alt="" width="780" height="564" title="" align=""><img src="./服务流程_韩汀社区_files/20170616114652-28806.jpg" alt="" width="780" height="556" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【用户界面】</strong><span style="font-size:16px;"></span>⑯</span><span style="font-size:16px;">服务完成后需要根据商家完成的好坏进行真实的评价，用户评价一经评价将无法更改和撤回评价，希望亲们慎重填之！</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114655-89301.jpg" alt="" width="780" height="552" title="" align=""><img src="./服务流程_韩汀社区_files/20170616123825-95586.jpg" alt="" width="780" height="590" title="" align=""><img src="./服务流程_韩汀社区_files/20170616114657-91159.jpg" alt="" width="780" height="552" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【用户界面】</strong><span style="font-size:16px;"></span>⑰用户确认服务后-服务金币送达商家我的账户中。</span> 
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114659-42119.jpg" alt="" width="780" height="493" title="" align=""> 
</p>
<p>
	<span style="font-size:16px;"><strong>【用户界面】</strong><span style="font-size:16px;"></span>⑱</span><span style="font-size:16px;">商家完成服务，翻译文档无异议后点击确认完成，完成服务。</span>
</p>
<p>
	<img src="./服务流程_韩汀社区_files/20170616114701-95827.jpg" alt="" width="780" height="487" title="" align=""> 
</p>
<p>
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<p style="text-align:center;">
	<br>
</p>
<hr>
<p>
	<br>
</p>
<p style="text-align:center;">
	<strong><span style="font-size:24px;"><br>
</span></strong> 
</p>
<p style="text-align:center;">
	<strong><span style="font-size:24px;"><br>
</span></strong> 
</p>
<p style="text-align:center;">
	<strong><span style="font-size:24px;">留学中介服务流程</span></strong><span style="font-size:24px;"></span> 
</p>
<p style="text-align:center;">
	<span style="font-size:24px;"><br>
<br>
</span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><span style="font-size:16px;"><span style="font-size:16px;">【用户界面】<span style="font-size:16px;">①</span></span>选择心仪的服务商-申请预定</span><br>
</span> 
</p>
<p style="text-align:left;">
	<span style="font-size:24px;"><span style="font-size:16px;"><img src="./服务流程_韩汀社区_files/20170618055037-25010.jpg" alt="" width="780" height="634" title="" align=""><br>
<br>
<span style="font-size:16px;">【用户界面】<span style="font-size:16px;">②</span></span>填写所需的备注留言-提交预定<br>
<img src="./服务流程_韩汀社区_files/20170618055038-55670.jpg" alt="" width="780" height="518" title="" align=""><br>
<span style="font-size:16px;">【用户界面】</span>③用户确认支付金币-商家开始接单<br>
<img src="./服务流程_韩汀社区_files/20170618055040-59770.jpg" alt="" width="780" height="449" title="" align=""><br>
<span style="font-size:16px;">【用户界面】</span>④提交支付后再所有预定里显示待接单状态，点击查看详细-进入预定表单，有什么问题可以正常站内信咨询商家了！<br>
<img src="./服务流程_韩汀社区_files/20170618055042-48164.jpg" alt="" width="780" height="365" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055043-52619.jpg" alt="" width="780" height="477" title="" align=""><br>
<span style="font-size:16px;">【商家界面】</span>⑤商家中心则系统站内信通知商家及时接单-在商家中心“我收到的预定”出现接单选项<br>
<img src="./服务流程_韩汀社区_files/20170618055045-41328.jpg" alt="" width="780" height="524" title="" align=""><br>
<span style="font-size:16px;">【用户界面】</span><span style="font-size:16px;">⑥</span>商家接单后系统站内信通知用户订单预定成功。<br>
<img src="./服务流程_韩汀社区_files/20170618055047-88274.jpg" alt="" width="780" height="409" title="" align=""><br>
<span style="font-size:16px;">【商家界面】</span>⑦商家可视情况而定，可接单和不接单。商家不接单，预定费用全额打还给商家。商家接单执行以下操作！<br>
<br>
<img src="./服务流程_韩汀社区_files/20170618055049-64206.jpg" alt="" width="780" height="443" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055050-44209.jpg" alt="" width="780" height="460" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055053-36578.jpg" alt="" width="780" height="525" title="" align=""><br>
【商家界面】<span style="font-size:16px;">⑧</span>商家提交接单-用户和商家在站内信交谈准备材料-用户准备完毕后邮寄给商家<br>
<br>
<img src="./服务流程_韩汀社区_files/20170618055055-55555.jpg" alt="" width="780" height="541" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055056-57539.jpg" alt="" width="780" height="485" title="" align=""><br>
<span style="font-size:16px;">【用户界面】<span style="font-size:16px;">⑨</span>商家接单后，系统站内信通知用户商家已经开始接单，请及时联系商家！</span><br>
<img src="./服务流程_韩汀社区_files/20170618055058-41359.jpg" alt="" width="780" height="418" title="" align=""><br>
<span style="font-size:16px;">【用户界面】</span>⑩用户准备好留学材料后寄往商家手中<br>
<img src="./服务流程_韩汀社区_files/20170618055100-27848.jpg" alt="" width="780" height="506" title="" align=""><br>
<span style="font-size:16px;">【用户界面】⑪用户将快递单号填写好完成留学材料邮寄</span>；详细内容可查看预定表单。<br>
<img src="./服务流程_韩汀社区_files/20170618055102-25217.jpg" alt="" width="780" height="607" title="" align=""><br>
<img src="./服务流程_韩汀社区_files/20170618055104-61970.jpg" alt="" width="780" height="512" title="" align=""><br>
<span style="font-size:16px;">【用户界面】⑫邮寄完毕可联系商家或者留言。</span><br>
<img src="./服务流程_韩汀社区_files/20170618055105-43342.jpg" alt="" width="780" height="611" title="" align=""><br>
<img src="./服务流程_韩汀社区_files/20170618055129-10553.jpg" alt="" width="780" height="367" title="" align=""><br>
<span style="font-size:16px;">【商家界面】⑬商家确认接收材料</span><br>
<img src="./服务流程_韩汀社区_files/20170618055131-25145.jpg" alt="" width="780" height="572" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055133-48411.jpg" alt="" width="780" height="515" title="" align=""><br>
<span style="font-size:16px;">【商家界面】⑭商家等待学校下达录取通知书后提交服务</span><br>
<img src="./服务流程_韩汀社区_files/20170618055135-50127.jpg" alt="" width="780" height="542" title="" align=""><br>
<span style="font-size:16px;">【商家界面】⑮</span>商家完成留学申请服务点击“提供服务”<br>
<img src="./服务流程_韩汀社区_files/20170618055136-44007.jpg" alt="" width="780" height="543" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055138-32536.jpg" alt="" width="780" height="545" title="" align=""><br>
<span style="font-size:16px;">【商家界面】⑯商家站内信恭贺用户留学申请成功，确认服务。</span><br>
<img src="./服务流程_韩汀社区_files/20170618055140-97088.jpg" alt="" width="780" height="547" title="" align=""><br>
<span style="font-size:16px;">【用户界面】⑰用户确认接收录取通知书后确认完成服务</span><br>
<img src="./服务流程_韩汀社区_files/20170618055142-25695.jpg" alt="" width="780" height="510" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055144-55236.jpg" alt="" width="780" height="517" title="" align=""><br>
<br>
<span style="font-size:16px;">【用户界面】⑱确认服务后如实给该商家填写评价；服务流程结束。</span><br>
<img src="./服务流程_韩汀社区_files/20170618055146-77183.jpg" alt="" width="780" height="478" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055148-39356.jpg" alt="" width="780" height="482" title="" align=""><img src="./服务流程_韩汀社区_files/20170618055150-64849.jpg" alt="" width="780" height="526" title="" align=""></span><br>
</span> 
</p></dd>
						                </dl>
            </div>
        </div>
        <!--left bar end-->
         <!--right bar-->
        <div class="article_right">
        	<h2 class="help_title">帮助中心</h2>
            <ul class="help_ul">
				<li><a href="/c/zyy/helpjiaoyixuzhi">交易须知</a></li>
				<li class="cur"><a href="/c/zyy/helpfuwujianding">服务鉴定</a></li>
				<li><a href="/c/zyy/helpguanyuzhuce">关于注册</a></li>
				<li><a href="/c/zyy/helpguanyujinbi">关于金币</a></li>
				<li><a href="/c/zyy/helpguanyujifen">关于积分</a></li>
				<li><a href="/c/zyy/helpguanyuruzhu">关于入驻</a></li>
				<li><a href="/c/zyy/helpguanyuwuliu">关于物流</a></li>
				<li><a href="/c/zyy/helpguanyutixian">关于提现</a></li>
				<li><a href="/c/zyy/helpguanyuluntan">关于论坛</a></li>
				<li><a href="/c/zyy/helpguanyutuikuan">关于退款</a></li>
				<li><a href="/c/zyy/helpfuwuliucheng">服务流程</a></li>
				<li><a href="/c/zyy/helpqianzhengzhiyin">签证指引</a></li>
				<li><a href="/c/zyy/helpwenxintishi">温馨提示</a></li>           
            </ul>
        </div>
        <!--right bar end-->
        <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>
				|<a href="#">帮助中心</a>|
				<a href="#">人才招聘</a>|
				<a href="#">联系我们</a>|
				<a href="#">网站地图</a>|
				<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="http://yphting.zglxkj.com/index.php/Home/About/help/cid/12.html#" class="rn_top">Back top</a></li>
</ul>
</body></html>