<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易须知_韩汀社区</title>
<link href="/css/common.css" rel="stylesheet"><!--该页面的所有css-->
<script type="text/javascript" src="/js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="#">首页</a>
				<span class="ht_line"></span><a href="#">商家入驻</a>
				<span class="ht_line"></span><a href="#">帮助中心</a>
				<span class="ht_line"></span><a href="#">关于韩汀</a>
				<span class="ht_line"></span><a href="#">联系我们</a>
			</div>
			<div class="top_right login_right">
				<a href="javascript:void(0);" onclick="geren()">[[${session.user.username}]]</a>
				<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            	<span class="ht_line"></span><a href="javascript:void(0);"><img src="/images/e_i.png" alt=""></a>
			</div>
		</div>
	</div>
    <div class="b_box nav_header community_header">
		<a href="#" class="logo logo_community">御品韩汀.社区</a>
		<ul class="nav_ul">
			<li><a href="#"><span class="community_sp csp1"></span><br>自驾游</a></li>
			<li><a href="#"><span class="community_sp csp2"></span><br>微整形</a></li>
			<li><a href="#"><span class="community_sp csp3"></span><br>留学中介</a></li>
			<li><a href="#"><span class="community_sp csp4"></span><br>韩语翻译</a></li>
			<li><a href="#"><span class="community_sp csp5"></span><br>学习资源</a></li>
			<li><a href="#"><span class="community_sp csp6"></span><br>韩汀物流</a></li>
			<li><a href="#"><span class="community_sp csp7"></span><br>韩汀·论坛 中文</a></li>
		</ul>
	</div>     
</div>
<!--header end-->

<div class="bg_c3 pt1">
	<div class="b_box">
    	<!--left bar-->
        <div class="article_left">
        	<div class="sv_path"><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="s_sp_v">-</span>签证指引</div>
            <div class="sv_con">
        		<h1 class="sv_h1">签证指引</h1>
                <dl class="sv_dl_list">
					<dt class="cur"><span class="dt_i"></span>中日签证指引</dt>
                    <dd style="display:block;"><p>
	<span style="font-size:18px;"><strong>预定须知：</strong></span> 
</p>
<span style="font-size: 24px; font-family: microsoft=" yahei" ;font-size:18px;">
<p>
	<span style="font-size: 16px; font-size:16px;">1、费用包含：签证费、签证中心服务费、我司的服务费用、出签后首次快递配送费用（如您选择我司自取出签护照，费用中包含的配送费用不退）；因使/领馆及签证中心政策性调价导致合同总价发生变更的，按实际金额结算。</span> 
</p>
<span style="font-family: font-size:16px;"><span style="font-size:16px;">2、费用不含：以上未提交费用。</span><br>
<span style="font-family: font-size:16px;"><span style="font-size:16px;"> 3、您的材料当日提交我司，从次日起算需要2个工作日（公共假期、领馆休息日及周末除外）反馈材料结果，材料齐全后1-2个工作日送签，领馆受理周期一般为6-7个工作日，领馆也可能因内部原因导致延迟出签，请根据自身的行程安排尽早办理签证。</span><br>
<span style="font-family: font-size:16px;"><span style="font-size:16px;"> 4、我司公布的签证有效期和停留天数，仅做参考，一切均以使（领）馆签发的签证内容为唯一依据；因此为了降低您的损失，请勿在签证出签前支付机票、酒店费用，以免因签证问题产生费用损失，否则损失将由您自行承担；</span><br>
<span style="font-family: font-size:16px;"><span style="font-size:16px;"> 5、 存款证明原件、邀请函原件、接待证明原件等相关材料一旦递交至领馆，领馆不予退还，请在递交材料之前自行备份，以备出境时海关抽查。</span><br>
<span style="font-family:font-size:16px;"><span style="font-size:16px;"> 6、日领馆放假通知（无特别说明周六周日照常休馆）：16年12月29日-17年1月3日、1月27日-2月2日，4月2日-4月4日、4月29日-5月1日、5月28日-5月30日、10月1日-10月8日、12月29日-12月31日。日领馆调休上班日：17年1月22日、4月1日、5月27日、9月30日。</span><br>
<span style="font-family: font-size:16px;"><span style="font-size:16px;"> 备注：中国的调休上班日（17年2月4日）领馆如常闭馆。</span><br>
<span style="font-family:font-size:16px;"><span style="font-size:16px;"> 7、请不要提交任何与所需材料无关的物件，如护照保护套，文件夹等，如有丢失，概不负责。如果您的护照在办理过程中丢失，我司每本最高赔付1000元。</span><br>
<span style="font-family: font-size:16px;"><span style="font-size:16px;"> 8、收到出签护照/签证页后，请务必认真核对签证页上全部信息是否正确，如发现任何问题请及时联系我司客服；由于使领馆原因造成签证信息错误，我司未检查出来，我司最高承担2000元(需提供实际损失凭证)。"</span><br>
<br>
<p>
	<span style="font-size: 18px; color: rgb(0, 0, 0);font-size:16px;"><strong>日本签证材料：</strong></span> 
</p>
<p>
	<span style="font-size: 24px; font-family:  microsoft="yahei"; font-size:18px;"></span> 
</p>
<p>
	<span style="font-size: 24px; font-family:  microsoft="yahei"; font-size:18px;"></span> 
</p>
<p>
	<span style="font-size: 18px; color: rgb(0, 0, 0);" microsoft=" yahei";" font-size:18px;"><strong>在职人员（18项材料）</strong></span> 
</p>
<p>
	</p><table style="width:100%;" cellpadding="2" cellspacing="0" border="1" bordercolor="#000000">
		<tbody>
			<tr>
				<td style="text-align:center;">
					<span style="font-size:16px;"><span style="color:#000000;"><strong>所需</strong></span><span style="color:#000000;"><strong>材料</strong></span></span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;"><strong>材料</strong></span><span style="color: rgb(51, 51, 51);font-size:16px; font-size: 10px; white-space: normal;"><span font-size:16px;><span style="font-size:16px;color:#000000;"><strong>类</strong></span><span style="font-size: 10px; color: rgb(0, 0, 0);"><span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;"><strong>型</strong></span></span></span></span></span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;"><strong>描述</strong></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">申请对象要求</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1、有经济能力的人士或其直系亲属（提供双方关系证明），提供年收入10万以上的材料证明。</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">高校简化条件</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">教育部直属的75所高校的所属院部的在校本科生、研究生（包括硕士和博士）以及毕业三年以内的毕业生 可以开具在校证明（原件）或</span><span style="color: rgb(0, 0, 0);  font-size:16px;white-space: normal;"><span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">毕业证书（复印件）+学信网学籍验证报告，可以只提供基本材料，无需资金材料。</span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">因私护照</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1.护照必须在行程结束之后有半年以上的有效期；</span><br>
<span  style="color: rgb(102, 102, 102); white-space: normal;font-size:16px;"><span style="font-size:16px;color:#000000;">2.至少有连续两张（正反共四页）的空白签证页，空白签证页不包含备注页；</span><br>
<span style="color: rgb(0, 0, 0); font-size:16px;"><span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">3.如有旧护照，且有出境记录，请一并提供原件。</span></span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">2寸白底彩照</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1、近半年内拍摄的2寸(3.5cmx4.5cm)白底彩照2张（</span><span style="color:#000000;font-size:16px;">背面铅笔签名</span><span style="color:#000000;font-size:16px;">）</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">身份证（复印件）</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1.身份证或临时身份证正反面复印件，请确有效期至少在归国日期之后。</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">户口本</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">
					1.办理人所在户口本整本复印件 ，除了空白页，所有带字页面都得复印</span>
					<br>
<span style="color: rgb(0, 0, 0); white-space: normal; font-size:16px;"><span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">2.若是集体户口，提供集体户口本首页和本人页复印件或户籍证明原件。</span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">结婚证/离婚证</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">已婚人员提供结婚证（结婚证打开以后有照片的两面）；</span><br>
<span style="color: rgb(102, 102, 102); white-space: normal; font-size:16px;"><span style="font-size:16px;color:#000000;">离异人员提供离婚证（离婚证打开以后有照片的两面）；</span><br>
<span style="font-size:16px;color:#000000;">证件上的名字要与护照名字保持一致或是可被体现出来的曾用名；</span><br>
<span style="color: rgb(0, 0, 0); font-size:16px;"><span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">丧偶人员提供配偶的死亡证明（证明书上需能体现与申请人的关系）。</span></span></span></span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">在职证明（原件)</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1、需体现相应年收入，提供打印在有准确单位地址、电话的抬头信纸上的中文在职证明，加盖公司公章或人事章并有负责人签名和职务.</span><br>
<span  style="color: rgb(102, 102, 102); white-space: normal;font-size:16px;"><span style="font-size:16px;color:#000000;">2、如申请人本人是负责人，请公司其他高管签名，不可以自己签名。</span><br>
<span style="color: rgb(0, 0, 0);"><span style="color: rgb(0, 0, 0); font-size:16px;"><span style="font-size:16px;color:#000000;">3、具体内容和格式详见样本。</span></span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">营业执照</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">提供在有效期内的营业执照副本的复印件，并加盖公章。非企业单位可用组织机构代码证代替。旧版营业执照需有最新年检记录，公章需与公司名称一致。</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">资金证明</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">以下财产证明，提供其中一项即可：</span><br>
<span style="font-size:16px;color:#000000;">1、银行出具的本人名下近6个月工资卡对账单，余额越多越好，每月工资收入达到8000元以上，对账单上须能显示持卡人姓名及卡号（切勿在最后突然存入大额款项，须有银行盖章，须显示“工资”字样）。</span><br>
<span style="font-size:16px;color:#000000;">2、本人名下近1年的10万个人所得税纳税证明原件，平均每月税额250以上，一年3000以上。</span><br>
<span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">3、银行出具的本人名下至少10万元的存款证明复印件，并冻结至归国后3个月。</span></span></span></span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">车辆行驶证</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">本人名下的车辆行驶证复印件。（如提供直系亲属名下的，需要另外提供相关人员的关系证明）</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">房产证</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">本人名下的房产证复印件，如客人表示只有房产合同或者房产发票（全款），可以建议客人将复印件提供给我们。（如提供直系亲属名下的，需要另外提供相关人员的关系证明</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">签证申请表</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1.申请表正反两面打印在一张纸上，切记不可分开打印！黑色水笔真实完整手填并亲笔签字，签字跟护照签名栏保持一致。</span><br>
<span  style="color: rgb(0, 0, 0); white-space: normal;font-size:16px;"><span style="color: rgb(0, 0, 0); font-size:16px;"><span style="font-size:16px;color:#000000;">2.确保电话真实有效，便于领馆联系。</span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">信息处理同意书</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">请用黑色水笔签署个人信息处理同意书一份。（申请人姓名需要打印在个人信息处理同意书上，并本人亲笔签名。未成年儿童名字，由监护人代签）</span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">全程</span><span style="color:#000000;font-size:16px;">行程单</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">请提供真实的酒店、机票预定记录，并确保它们和您此次实际行程保持一致。（此项信息非常重要，关系到日本邀请函里酒店和机票信息，如私自更改，会影响您的出行与后期销签。）：</span><br>
<span style="color: rgb(102, 102, 102); white-space: normal;font-size:16px;"><span style="font-size:16px;color:#000000;">1、中文的行程单，详细到每日行程</span><br>
<span style="font-size:16px;color:#000000;">2、中日往返机票预订单</span><br>
<span  style="color: rgb(0, 0, 0);font-size:16px;"><span style="font-size:16px;color:#000000;">3、全程的酒店预订单</span></span></span></span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">同行人材料</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">复印件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1、如单独出行，请提供单独出行理由书（具体内容和格式详见样本）；特别提醒，申请人是单独出行的，领馆有要求增补材料的权利，如被抽查增补材料，审核时间将相应延迟。</span><br>
<span style="color: rgb(0, 0, 0); white-space: normal;font-size:16px;"><span style="color: rgb(0, 0, 0); font-size:16px"><span style="font-size:16px;color:#000000;">2、如有同行人持日本免签护照或自备签证，请提供关系说明书并亲笔签名（内容需包含同行人与申请人关系、签证类型及国籍）、同行人护照首页复印件和有效签证页复印件。</span></span></span><br>
				</td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">担保金</span><br>
				</td>
				<td style="text-align:center;">
					<span style="color:#000000;font-size:16px;">原件</span><br>
				</td>
				<td>
					<span style="color:#000000;font-size:16px;">1、根据客人材料收取担保金0元-10万/人。</span><br>
<span style="color: rgb(102, 102, 102); white-space: normal; font-size:16px;"><span style="font-size:16px;color:#000000;">2、回国后凭护照首页、签证页、出入境章页扫描件和归国报告书原件、登机牌原件销签后给予返还。</span><br>
<span style="color: rgb(0, 0, 0);font-size:16px;"><span style="color: rgb(0, 0, 0); font-size:16px;"><span style="font-size:16px;color:#000000;">3、如发生滞留不归、无法提供归国报告书或违反当地相关法律的情况，担保金将不予退还。</span></span></span></span><br>
				</td>
			</tr>
		</tbody>
	</table>
<p></p>
</span></span></span></span></span></span></span></span></span></dd>
						                </dl>
            </div>
        </div>
        <!--left bar end-->
         <!--right bar-->
        <div class="article_right">
        	<h2 class="help_title">帮助中心</h2>
            <ul class="help_ul">
				<li><a href="/c/zyy/helpjiaoyixuzhi">交易须知</a></li>
				<li class="cur"><a href="/c/zyy/helpfuwujianding">服务鉴定</a></li>
				<li><a href="/c/zyy/helpguanyuzhuce">关于注册</a></li>
				<li><a href="/c/zyy/helpguanyujinbi">关于金币</a></li>
				<li><a href="/c/zyy/helpguanyujifen">关于积分</a></li>
				<li><a href="/c/zyy/helpguanyuruzhu">关于入驻</a></li>
				<li><a href="/c/zyy/helpguanyuwuliu">关于物流</a></li>
				<li><a href="/c/zyy/helpguanyutixian">关于提现</a></li>
				<li><a href="/c/zyy/helpguanyuluntan">关于论坛</a></li>
				<li><a href="/c/zyy/helpguanyutuikuan">关于退款</a></li>
				<li><a href="/c/zyy/helpfuwuliucheng">服务流程</a></li>
				<li><a href="/c/zyy/helpqianzhengzhiyin">签证指引</a></li>
				<li><a href="/c/zyy/helpwenxintishi">温馨提示</a></li>           
            </ul>
        </div>
        <!--right bar end-->
        <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="#">商家入驻</a>
				|<a href="#">帮助中心</a>|
				<a href="#">人才招聘</a>|
				<a href="#">联系我们</a>|
				<a href="#">网站地图</a>|
				<a href="#">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show"><img src="/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="http://yphting.zglxkj.com/index.php/Home/About/help/cid/12.html#" class="rn_top">Back top</a></li>
</ul>
</body></html>