<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">   
<title>我预订的服务_韩汀社区</title>
<link href="css/common.css" rel="stylesheet">
<script type="text/javascript" src="./js/jquery-1.8.3.js" ></script><!--js 1.8.3-->
<body>
	<iframe name="topost" id="topost" style="display:none;" src="./我预订的服务_韩汀社区_files/saved_resource.html"></iframe>

<style type="text/css">
	.btna_s3,.btna_s1{ margin-bottom: 10px;}
	.btna_s2{ display: inline-block;    margin-bottom: 10px;}
	.c_4{ display: inline-block;    margin-bottom: 10px;}
</style>

<!--header-->
<div class="header" id="botop">
		<div class="h_top">
		<div class="b_box">
			<div class="top_nav"><a href="http://yphting.zglxkj.com/index.php/">首页</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="http://yphting.zglxkj.com/index.php/Home/About/contact.html">联系我们</a></div>
			
			<div class="top_right login_right">
						<a href=javascript:void(0);">专揍小北墩</a>
						<span class="ht_line"></span><a href="javascript:void(0);">退出</a>
            <span class="ht_line"></span><a href="javascript:void(0);"><img src="images/e_i.png" alt=""></a>
            
			<!--
			<a href="javascript:void(0);" class="i_rover"></a>
			-->
			</div>
		</div>
	</div>

    <div class="b_box nav_header community_header">
		<a class="logo my_logo" href="javascript:void(0);">御品韩汀</a>
		<ul class="member_nav_ul">
        	<li id="li1"><a href="javascript:void(0);">商家中心</a><span class="my_nav_i"></span></li>
<style type="text/css">
.layui-layer-btn .layui-layer-btn0{ background:#4c1b98; }
.layui-layer-btn .layui-layer-btn0:hover{ background:#340d6f;}
</style>        	<li class="cur" id="li2"><a href="javascript:void(0);ml">个人中心</a><span class="my_nav_i"></span></li>
            <li id="li3"><a href="javascript:void(0);">账户设置</a><span class="my_nav_i"></span></li>
            <li id="li4"><a href="javascript:void(0);l">消息</a><span class="my_nav_i"></span></li>
            
        </ul>
	</div>
</div>
<!--header end-->




<div class="bg_c4 pt1">
	<div class="b_box">
    	<div class="sv_path border_c sv_nbor mpt0">
        	<div class="fr c_4"><a href="javascript:void(0);" class="btna_s2 f14">交易须知</a></div>
            <a href="javascript:void(0);l">个人中心</a><span class="s_sp_v">-</span><a href="http://yphting.zglxkj.com/index.php/Home/Member/order.html">我预订的服务</a>
        </div>
        <div class="my_booking_service_top">
        	<div class="my_booking_left">
            	<p class="c_4 f14">预定服务状态</p>
                <p class="big_font">
				待服务				</p>
								                 <div class="btn_a_mt">
				 -				 </div>
				 <!--按钮另一种颜色样式为btna_noc-->
            </div>
            <div class="my_booking_right">
            	<div class="my_book_spress"><span class="my_book_press_line"></span></div>
            	                <!--学习资料-->
                <ul class="my_booking_service_press_ul my_booking_4">
                	<li class="cur">
                    	<span class="mbsp_sp"><span class="mbsp1"></span></span>
                        <p class="mbsp_text">提交预约</p>
                    </li>
                    <li class="cur">
                    	<span class="mbsp_sp"><span class="mbsp2"></span></span>
                        <p class="mbsp_text">支付预约</p>
                    </li>
                    <li>
                    	<span class="mbsp_sp"><span class="mbsp4 mbsp4_2"></span></span>
                        <p class="mbsp_text">下载资料</p>
                    </li>

                    <li class="last ">
                    	<span class="mbsp_sp"><span class="mbsp6"></span></span>
                        <p class="mbsp_text">服务完成</p>
                    </li>
                </ul>            </div>
        </div>
        
        <div class="my_booking_cont">
        	<ul class="my_booking_cont_ul">
				<li>
                    <p class="c_4 f12">订单编号</p>
                    <p class="mt5">15374327157820</p>
					<p class="c_4 f12">下单时间</p>
                    <p class="mt5">2018-09-20 16:38</p>
					<p class="c_4 f12">付款时间</p>
                    <p class="mt5">2018-09-20 16:38</p>					<p class="c_4 f12">接单时间</p>
                    <p class="mt5">2018-09-20 16:39</p>										                    <p class="c_4 f12">商家</p>
                    <p class="mt10"><a target="_blank" href="javascript:void(0);">研发3部</a>
					<a href="javascript:void(0);" class="btna_s2 ml10 send_site_email_btna">站内信商家</a>					</p>
                    <p class="c_4 f12">总金币</p>
                    <div class="num_1 f16">222.0</div>
                </li>
                <li>
                	<p class="c_4 f12">类别</p>
                    <p class="mt5">英语资料</p>					
                                        <p class="c_4 f12">数量</p>
                    <p class="mt5">1</p>					                </li>
				
				<li>
                	<p class="c_4 f12">所预定服务</p>
                    <dl class="my_booking_img_text">
                    	<dt><img src="images/100.jpg" alt="学习资料" width="135"></dt>
                        <dd>
                        	<p><a href="javascript:void(0);" target="_blank">学习资料</a></p>
                            <p></p>
                            <div class="num_1 num_2_s f14">222</div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        
	</div>
</div>

<!--底部-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="./images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink">
				<a href="javascript:void(0);">商家入驻</a>|<a href="javascript:void(0);">帮助中心</a>|<a href="javascript:void(0);">人才招聘</a>|
				<a href="javascript:void(0);">联系我们</a>|<a href="javascript:void(0);">网站地图</a>|<a href="javascript:void(0);">使用条款</a>
			</p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>
			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>
			<p>Copyright © 钟大佬 版权所有</p>		
		</dd>
	</dl>
</div>
<!--底部 结束-->

<!--右侧 nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a></li>
	<li><a href="javascript:void(0);" class="rn_kf">在线客服</a></li>
</ul>
<!--右侧 nav 结束-->


</body></html>